@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.navigation {
  width: 100%;
  top: 7%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 999;
}

.navigation ul li {
  margin: 2rem;
  padding: 0;
  display: inline;
  list-style: none;
}

.navigation a {
  font-family: "montserrat";
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s ease-in-out;
}

.navigation a:hover {
  color: orange;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-left: 96%;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.landing-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: black;
}

.content-summary {
  width: 45%;
  top: 30%;
  right: 28%;
  display: flex;
  align-content: center;
  position: absolute;
  padding: 3.5rem;
  border: 2px solid white;
  z-index: 2;
}

.film-title {
  width: 385px;
  height: 285px;
  min-width: 25%;
  max-height: 12%;
  top: 24%;
  left: 30%;
  position: relative;
  background-color: orange;
  z-index: 3;
}

.film-title h1 {
  text-align: center;
  padding: 1.5rem;
  font-family: "Bebas Neue";
  font-size: 3.2rem;
  color: white;
}

.content-summary h2 {
  font-family: "Bebas Neue";
  font-size: 2.2rem;
  color: white;
}

.content-summary p {
  font-family: "montserrat";
  padding-top: 10px;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: white;
  font-kerning: normal;
  transition: all 0.6s ease-in-out;
}

.video-banner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

.video-banner video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

@media screen and (max-width: 978px) {
  body {
    background-color: rgba(249, 249, 249, 0.884);
  }

  .landing-container {
    display: none;
  }

  .video-banner video {
    display: none;
  }

  .video-banner {
    display: none;
  }

  .navigation {
    align-items: center;
  }

  .film-title {
    justify-content: center;
  }

  .film-title h1 {
    color: black;
  }

  .content-summary {
    border-color: black;
  }
  .navigation a {
    color: black;
  }

  .content-summary {
    display: flex;
    border: 2px solid black;
  }

  .content-summary p {
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .bar {
    background-color: black;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg) translate(4px);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg) translate(4px);
  }
}
