@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 16px;
  --contentHeadLineOne: 1.7rem;
  --contentHeadLineTwo: 1.2rem;
  --contentText: 0.98rem;
  --textColor: black;
  --headlineFont: "Bebas Neue";
  --contentFont: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: var(--contentFont);
  font-size: var(--contentText);
  font-kerning: normal;
  color: white;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2.2rem;
}

.navigation ul li {
  margin: 1rem;
  display: inline;
  list-style: none;
}

.navigation a {
  font-family: "montserrat";
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  display: flex;
  min-width: 100%;
}
.hero img {
  width: 100%;
  object-fit: cover;
}
.hero h1 {
  font-size: var(--headlineFont, --contentHeadLineTwo);
  top: 60%;
  position: absolute;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

.bio {
  display: flex;
  min-width: 100%;
  min-height: 75%;
  flex-grow: 1;
  flex-direction: row;
}

.bio-img {
  width: 25%;
}

.bio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-content {
  width: 100%;
  padding: 1.8rem;
}

.bio-content h2 {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: var(--contentHeadLineOne);
  font-family: var(--contentFont);
}

.bio-content p {
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: black;
}

.label {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1.5rem;
  background-color: rgb(206, 150, 47);
}

.label h2 {
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  color: white;
  font-family: var(--headlineFont);
}

.large-section {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-section {
  min-width: 30.22%;
  width: 350px;
  padding: 1.5rem;
  margin-top: 20px;
}

.img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content {
  min-width: 100%;
  width: 233px;
  padding: 1.1rem;
  background-color: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content p {
  color: white;
  font-size: 1rem;
}

.content-rating {
  width: 100%;
  display: flex;
  padding-left: 2rem;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none;
  gap: 3rem;
}

.svg-heart {
  width: 1.2rem;
  height: 1.2rem;
}

.summary-content audio {
  width: 70%;
  margin: 0 auto;
  display: table;
}

.scrollbar {
  width: 100%;
  height: 20%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 2rem;
}

.profile-container {
  width: 14.33%;
  padding: 0 2.1 0 2.1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 16.6% 10.6% 16.6% 10.6%;
}

.profile-content {
  width: 100%;
  padding: 1.2em;
}

.film-rating {
  background-color: black;
  position: relative;
  width: 100%;
  width: 450px;
  height: 50px;
}

.rating p {
  text-align: center;
  font-weight: bold;
}

.creator {
  min-width: 100%;
  height: 50px;
  margin-top: 1024px;
}

.creator p {
  font-family: var(--contentFont);
  text-align: center;
  color: black;
}

@media screen and (max-width: 1025px) {
  .bio-img {
    display: none;
  }
}

@media screen and (max-width: 804px) {
  .navigation {
    display: none;
  }

  .bio {
    flex-direction: column;
  }
  .bio-content {
    width: 100%;
  }

  .label {
    flex-grow: 1;
  }

  .label h2 {
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    .hero {
      height: 60vh;
      z-index: -1;
      background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/videoblocks-a-retro-3d-rendering-of-movie-making-film-tape-of-white-and-black-colors-the-film-tape-moves-horizontally-and-slowly-in-the-bright-yellow-background-it-reminds-hollywood-masterpieces_h9mikhxt6w_thumbnail-1080_01.png");
    }

    .navigation {
      display: block;
      flex-direction: column;
      background-color: #00000028;
      justify-content: flex-end;
      top: 0;
      position: fixed;
      z-index: 999;
    }

    .navigation ul li {
      display: block;
      padding: 0 auto;
    }

    .navigation a {
      font-size: 0.9rem;
      color: white;
    }

    .large-section {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }

    .img-section {
      width: 100%;
    }

    .creator {
      display: none;
    }
  }
}
