@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* defining the font-sizes and color attributes of the page with variables */
html {
  font-size: 100%;
  --navLogoSize: 1.7rem;
  --navLinkSize: 1.5rem;
  --labelFontSize: 2rem;
  --contentFontSize: 0.98rem;
  --nominationsFontSize: 1.1rem;
  --summaryFontColor: rgb(243, 237, 237);
  --contentFontColor: rgb(37, 37, 37);
  --navColor: rgb(36, 36, 36);
  --labelColor: rgb(210, 158, 61);
  --labelFontColor: #3e3e3d;
  --headlineFont: "Bebas Neue";
  --contentFont: "Montserrat";
}
/* changing the default settings of padding and margins,adding */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contentText {
  font-size: var(--contentFontSize);
  font-kerning: normal;
  color: var(--contentFontColor);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.hero-header {
  display: flex;
  min-width: 100%;
  padding-bottom: 16.5rem;
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/videoblocks-a-retro-3d-rendering-of-movie-making-film-tape-of-white-and-black-colors-the-film-tape-moves-horizontally-and-slowly-in-the-bright-yellow-background-it-reminds-hollywood-masterpieces_h9mikhxt6w_thumbnail-1080_01.png");
}

/* left corner logo container */
.page-name {
  padding: 0.7rem;
  text-decoration: none;
  color: white;
}
/* left corner logo font */
.page-name-text {
  font-family: var(--headlineFont);
  font-size: var(--navLogoSize);
  letter-spacing: 0.2rem;
}

/* navigation container for screens not bigger then 747px */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1.8rem;
  background-color: var(--navColor);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.nav-item {
  padding: 1rem;
  list-style: none;
}

.nav-item a {
  color: var(--summaryFontColor);
  text-decoration: none;
  font-family: var(--contentFont);
  font-size: var(--navLinkSize);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  background-color: white;
}

/* this is the main container for  the bio section */

.bio {
  display: flex;
  min-height: 66.67%;
  flex-direction: row;
}

/* this is the image container for bio section */

.bio-img {
  display: none;
  width: 33.33%;
  object-fit: cover;
}

/* this is the bio image */

.profile-image {
  width: 100%;
  height: 100%;
}

/* this is the text content container */

.bio-content {
  width: 100%;
  padding: 1.8rem;
}

/* bio header text header font */

.bio-content__title {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: var(--navLinkSize);
  font-family: var(--contentFont);
  font-weight: bolder;
  letter-spacing: 0.3rem;
}

/* bio text  */

.bio-content p {
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: var(--contentFontColor);
  font-size: var(--contentFontSize);
  font-family: var(--contentFont);
}

/* bio content wrapper */

.content-holder {
  padding: 1.4rem;
}
/* label border */

.label {
  display: flex;
  width: 100%;
  padding: 1.8rem;
  background-color: var(--labelColor);
}

/* label title */

.label-title {
  font-family: var(--headlineFont);
  font-size: var(--labelFontSize);
  color: var(--labelFontColor);
  letter-spacing: 0.4rem;
}

.wiki-content {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 1.3rem 2rem;
  border: 0.5px solid grey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* film section container */

.film-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  padding: 4.6rem 3.6rem 8.6rem 3.6rem;
  gap: 1.5rem;
}
/* film section image container */
.film-img-section {
  width: 30.33%;
}

/* film section image */
.film-img-section__poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* film section sub-container to image (text-content) */
.summary-content {
  min-width: 100%;
  margin: 0;
  padding: 1.1rem;
  background-color: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* film section sub-container to image (text-content) */

.summary-content__movie-title {
  color: var(--summaryFontColor);
  font-weight: 500;
  text-align: center;
  font-size: var(--headLineSizeTwo);
  font-family: var(--headlineFont);
}

.nominations-section {
  width: 100%;
  display: flex;
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* nominations section sub-container */
.summary-content-nominations {
  width: 80%;
  padding: 1.3rem 2rem;
  margin-top: 1.8rem;
  flex-wrap: wrap;
  border: 0.5px solid grey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content-nominations p,
i {
  color: var(--textColor);
  font-family: var(--contentFont);
  font-size: var(--nominationsFontSize);
  padding: 2rem 4.5rem;
}

.summary-content-nominations h4 {
  font-family: var(--headlineFont);
  font-size: var(--headLineSizeTwo);
}

.summary-content-nominations__label {
  width: 100%;
  padding: 1.5rem;
  background-color: grey;
}

.nominations-description {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nominations-description {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.summary-content audio {
  width: 70%;
  margin: 0 auto;
  display: table;
}

.footer-element {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--labelColor);
}

.footer-element p {
  font-family: var(--contentFont);
  color: var(--contentFontColor);
}
@media screen and (max-width: 1600px) {
  .summary-content-nominations {
    flex-direction: column;
  }
}

@media screen and (max-width: 747px) {
  .film-section {
    flex-direction: row;
  }
  .film-img-section {
    width: 90%;
  }
  /*show hamburger icon */
  .hamburger {
    display: block;
  }
  /*add 0 opacity to the mid span element of the hamburger icon */
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  /*rotates the first child element of the hamburger icon */
  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg) translate(4px);
  }
  /*rotates the third child element of the hamburger icon */
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-2px) rotate(-45deg) translate(4px);
  }

  /* fixed navigation container for mobile view */
  .navigation {
    position: fixed;
    padding: 1rem 1.8rem;
    z-index: 999;
  }

  /* ul list element movies left -100% */
  .nav-menu {
    left: -100%;
    top: 5rem;
    position: fixed;
    text-align: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
  }

  /* link list element */
  .nav-item {
    margin: 0.2rem auto;
  }

  /* link list element active */
  .nav-menu.active {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 596px) {
  .content-holder {
    padding: 0.5rem;
  }
  .label {
    width: 100%;
  }
  .label-title {
    margin: auto;
  }
  .film-section {
    flex-direction: column;
  }

  .film-img-section {
    width: 100%;
    padding: 1.5rem;
    align-items: center;
  }

  .summary-content-nominations p,
  i {
    padding: 0;
  }

  .nominations-description {
    justify-content: space-between;
    padding: 1.7rem 0;
  }
  .summary-content-nominations {
    justify-content: space-between;
    margin: 2rem;
  }
}
