@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 16px;
  --contentHeadLineOne: 1.7rem;
  --contentHeadLineTwo: 1.3rem;
  --contentText: 0.98rem;
  --textColor: black;
  --labelColor: ;
  --headlineFont: "Bebas Neue";
  --contentFont: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

p {
  font-size: var(--contentText);
  font-kerning: normal;
  color: white;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}

.hero-header {
  display: flex;
  min-width: 100%;
  padding-bottom: 16.5rem;
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/videoblocks-a-retro-3d-rendering-of-movie-making-film-tape-of-white-and-black-colors-the-film-tape-moves-horizontally-and-slowly-in-the-bright-yellow-background-it-reminds-hollywood-masterpieces_h9mikhxt6w_thumbnail-1080_01.png");
}

/* left corner logo container */
.page-name {
  padding: 0.7rem;
  text-decoration: none;
  color: white;
}
/* left corner logo font */
.page-name-text {
  font-family: var(--headlineFont);
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/* navigation container for screens bigger then 480px */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1.8rem;
  background-color: black;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.nav-item {
  padding: 1rem;
  list-style: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-family: var(--contentFont);
  font-size: var(--contentHeadLineTwo);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  background-color: white;
}

/* this is the main container for bio */
.bio {
  display: flex;
  min-height: 66.67%;
  flex-direction: row;
}

/* this is the image container for bio */

.bio-img {
  width: 33.33%;
}

/* this is the  bio image properties */

.bio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* this is the text content container */

.bio-content {
  width: 100%;
  padding: 1.8rem;
}

/* bio header text properties */

.bio-content h2 {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: var(--contentHeadLineTwo);
  font-family: var(--contentFont);
}

/* bio text properties */

.bio-content p {
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: black;
  font-size: var(--contentText);
  font-family: var(--contentFont);
}
/*
.content-holder {
  padding: 2.4rem;
}
/* label border */

.label__bio {
  width: 100%;
  padding: 1.5rem;
  background-color: rgb(206, 150, 47);
}

.label__filmography {
  width: 100%;
  margin-top: 1.8rem;
  padding: 1.5rem;
  background-color: rgb(206, 150, 47);
}

.label__soundtrack {
  width: 100%;
  margin-top: 1.8rem;
  padding: 1.5rem;
  background-color: rgb(206, 150, 47);
}
.label__nominations {
  width: 100%;
  margin-top: 4rem;
  padding: 1.5rem;
  background-color: rgb(206, 150, 47);
}

/* label border title text */

.label__bio,
.label__filmography,
.label__soundtrack,
.label__nominations h2 {
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  color: white;
  font-family: var(--headlineFont);
}

/* film section container */

.film-section {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.film-img-section {
  min-width: 30.22%;
  width: 350px;
  padding: 1.9rem;
}

.film-img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content {
  min-width: 100%;
  width: 233px;
  padding: 1.1rem;
  background-color: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content p {
  color: white;
  font-size: 1rem;
}

.summary-content-nominations {
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.3rem 2rem;
  margin: 3rem auto;
  border: 0.5px solid grey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.summary-content-nominations p,
i {
  color: var(--textColor);
  font-family: var(--contentFont);
  padding-top: 1rem;
}

.summary-content-nominations h4 {
  font-family: var(--headlineFont);
  font-size: var(--contentHeadLineTwo);
}

.summary-content-nominations__label {
  width: 100%;
  padding: 1.5rem;
  background-color: grey;
}

.content-rating {
  width: 100%;
  display: flex;
  padding-left: 2rem;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none;
  gap: 3rem;
}

.svg-heart {
  width: 1.3rem;
  height: 1.3rem;
}

.summary-content audio {
  width: 70%;
  margin: 0 auto;
  display: table;
}

.film-rating {
  background-color: black;
  position: relative;
  width: 100%;
  width: 450px;
  height: 50px;
}

.footer-element {
  display: flex;
  min-width: 100%;
  height: 5.6rem;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.footer-element p {
  font-family: var(--contentFont);
  color: black;
}
@media screen and (max-width: 1300px) {
  .bio-img {
    display: none;
  }
}
@media screen and (max-width: 747px) {
  .hero-header {
    z-index: -1;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg) translate(4px);
  }
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-2px) rotate(-45deg) translate(4px);
  }
  .navigation {
    position: fixed;
    padding: 1rem 1.8rem;
    z-index: 999;
  }
  .nav-menu {
    left: -100%;
    top: 5rem;
    position: fixed;
    text-align: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
  }
  .nav-item {
    margin: 0.2rem auto;
  }
  .nav-menu.active {
    left: 0;
    width: 100%;
  }
}
